@PART[bluedog_ThorAble_Guidance,bluedog_Agena_Avionics,bluedog_GATV_MaterialsBay,bluedog_Corona_Pod,bluedog_Keyhole_OCV_KH7,bluedog_Oscar1,bluedog_Strawman_Bus,bluedog_atlas_coreTank,bluedog_Atlas_SCORE,bluedog_Atlas_SLV3X_coreTank,bluedog_CELV_MainTank,bluedog_AtlasV_CCB_lower,bluedog_Delta_Avionics,bluedog_DeltaE_Tank,bluedog_Juno4_FuelTank_2,bluedog_Jupiter_Guidance,bluedog_LDC_S2_Avionics,bluedog_Mercury_Capsule,bluedog_HOSS_Avionics,bluedog_Ablestar_Tank,bluedog_Vanguard_S2_Guidance,bluedog_Vanguard_Satellite1,bluedog_Vanguard_Satellite2,bluedog_Vanguard_Satellite3,bluedog_IUS_Avionics,bluedog_TOS_Avionics,bluedog_X15_Cockpit,bluedog_X15_DroneCore,bluedog_X15_TwoSeater]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 1.5
        @amount = #$../RBbaseVolume$
        @amount *= 1.5
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.15
        amount = #$../RBbaseVolume$
        @amount *= 0.15
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = AgOx
    }
}

@PART[bluedog_Sparta_Guidance,bluedog_WRESAT,bluedog_Redstone_Guidance,bluedog_Beacon1,bluedog_Juno1_Explorer1,bluedog_Juno1_Guidance]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 1.5
        @amount = #$../RBbaseVolume$
        @amount *= 1.5
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.15
        amount = #$../RBbaseVolume$
        @amount *= 0.15
    }

    MODULE
    {
        name = RealBattery
        BatteryTypeDisplayName = Hg-Zn // Same as Ag-Ox but lower C-rate
        title = #LOC_RB_title_HgZn
        descriptionSummary = #LOC_RB_descSum_HgZn
        descriptionDetail = #LOC_RB_descDet_HgZn

        HighEClevel = 2       // charging disabled
        LowEClevel  = 0.90
        Crate       = 0.5

        CycleDurability     = 1
        SelfDischargeRate   = 0.025
        EvaRefurbishEnabled = true
        EVAminLevel         = 1
        SparePartsPerKWh    = 5

        ThermalLoss         = 0.3
        TempOptimal         = 350
        TempOverheat        = 420
        TempRunaway         = 520
        RunawayHeatFactor   = 1.5

        FixedOutput         = false
        BatteryStaged       = false
        KeepWarmMode        = false
        TempKeepWarmLo      = 500
        TempKeepWarmHi      = 600
        SelfRunaway         = false
        RunawayBaseChance   = 0.0
        LifeDecay           = false
        InfiniteCycles      = false

        ChargeEfficiencyCurve
        {
            key = 0.0 0.0
            key = 1.0 0.0
        }
    }
}

@PART[bluedog_Mercury_Retropack]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = 24

    RESOURCE
    {
        name = ElectricCharge
        amount = 0
        maxAmount = 0
    }
    RESOURCE
    {
        name = StoredCharge
        amount = 0
        maxAmount = 0
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = AgOx
    }

    @MODULE[ModuleB9PartSwitch]:HAS[#moduleID[meshSwitchStyle]]
    {
        @SUBTYPE[Basic]
        {
            MODULE
			{
				IDENTIFIER
				{
					name = RealBattery
				}
				DATA
                {
				    moduleActive = false
                }
			}
        }
        @SUBTYPE[Enhanced]
        {
            @RESOURCE[ElectricCharge]
			{
				@unitsPerVolume = 35
			}
            RESOURCE
            {
                name = StoredCharge
                unitsPerVolume = 4
            }
            MODULE
			{
				IDENTIFIER
				{
					name = RealBattery
				}
				DATA
                {
				    moduleActive = true
                }
			}
        }
    }
}

@PART[bluedog_LM_Shelter,bluedog_LM_Taxi,bluedog_Apollo_AARDV_Core,bluedog_Apollo_ASTP_DockingAdapter,bluedog_Apollo_Block2_SM,bluedog_Apollo_Block3_SM,bluedog_Apollo_Boilerplate,bluedog_Apollo_CrewPod,bluedog_Apollo_CrewPod_5crew,bluedog_Apollo_RCML,bluedog_Apollo_SIMbay_subSatellite,bluedog_Apollo_SIM_ATM,bluedog_EarlyLunarShelter,bluedog_LM_Ascent_Cockpit,bluedog_LM_Descent_Tanks,bluedog_LM_Descent_Tanks_Truck,bluedog_LM_Lab,bluedog_LM_SheLab,bluedog_LRV_Base,bluedog_LRV_Base_Combined,bluedog_LRV_Pallet_Front,bluedog_LTV,bluedog_BigG_Cabin,bluedog_BigG_ConicSM_CargoModule,bluedog_BigG_CylindricalSM_CargoModule,bluedog_Gemini_AugustusCapsule,bluedog_Gemini_Capsule,bluedog_Gemini_LongFerrySM,bluedog_Gemini_LunarReconSM,bluedog_Gemini_RadarEvaluationPod,bluedog_Gemini_LanderCan,bluedog_Gemini_1p5mShortSegment,bluedog_Gemini_OneRoomStationModule,bluedog_Gemini_TwoRoomStationModule,bluedog_GeminiFerry_PressurizedModule,bluedog_MiniLab_Adapter,bluedog_MiniLab_Lab,bluedog_Shuguang_EquipmentModule,bluedog_Hexagon_Mk8_Capsule,bluedog_Hexagon_ServiceModule,bluedog_MOL_1p5mStationSegment,bluedog_MOL_ControlSegment,bluedog_MOL_EquipmentSection,bluedog_MOL_Lab_New,bluedog_Pegasus_ElectronicsCanister,bluedog_Saturn_S2_wetWorkshop,bluedog_Saturn_S4_InstrumentUnit,bluedog_Saturn_S4_Boilerplate,bluedog_Skylab_WetWorkshop,bluedog_Skylab_Workshop,bluedog_Spacelab_airlockModule,bluedog_spacelab_europeanModule,bluedog_spacelab_forwardAdapter,bluedog_Skylab_VFB_ESM,bluedog_Skylab_VFB_lightweightWetWorkshop,bluedog_Skylab_powerModule_core,bluedog_Skylab_dockingNodeAdapter,bluedog_Skylab_airlockModule,bluedog_Skylab_ATM_core,bluedog_Skylab_multipleDockingAdapter,bluedog_MORL_workshop,bluedog_GooLab_Module,bluedog_Saturn_S4B_InstrumentUnit,bluedog_Skylab_TRS_probeCore,bluedog_Vega_ThirdStage_Tank]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 1.5
        @amount = #$../RBbaseVolume$
        @amount *= 1.5
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.15
        amount = #$../RBbaseVolume$
        @amount *= 0.15
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = AgZn
    }
}

@PART[bluedog_Titan2_S2_NoseCone,bluedog_atlas_A_noseCone,bluedog_Skylab_VFB_entryProbe]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.6
        @amount = #$../RBbaseVolume$
        @amount *= 0.6
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.1
        amount = #$../RBbaseVolume$
        @amount *= 0.1
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = TBat
    }
}

@PART[bluedog_Titan_Transtage,bluedog_Titan3_AvionicsTruss]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.3
        @amount = #$../RBbaseVolume$
        @amount *= 0.3
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.02
        amount = #$../RBbaseVolume$
        @amount *= 0.02
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = PbAc
        EVAupgrade  = none // target SUBTYPE name; "none" = upgrade prohibited
    }

    MODULE
    {
        name = ModuleB9PartSwitch
        moduleID = batterySwitch
        uiGroupName = RealBatteryInfo
        uiGroupDisplayName = #LOC_RB_PAWgroup
        switcherDescription = #LOC_RB_batterySwitcherDescription
        switcherDescriptionPlural = #LOC_RB_batterySwitcherDescriptionPlural
        baseVolume = #$../RBbaseVolume$

        SUBTYPE
        {
            name = PbAc
            title = #LOC_RB_title_PbAc
            descriptionSummary = #LOC_RB_descSum_PbAc
            descriptionDetail = #LOC_RB_descDet_PbAc
            tankType = PbAc
            defaultSubtypePriority = 3

            MODULE
            {
                IDENTIFIER
                {
                    name = RealBattery
                }
                DATA
                {
                    ChemistryID = PbAc
                    EVAupgrade  = NiCd // target SUBTYPE name; "none" = upgrade prohibited
                }
            }
        }

        SUBTYPE
        {
            name = NiCd
            title = #LOC_RB_title_NiCd
            descriptionSummary = #LOC_RB_descSum_NiCd
            descriptionDetail = #LOC_RB_descDet_NiCd
            tankType = NiCd
            upgradeRequired = RB_UpgradeNiCd
            defaultSubtypePriority = 4
            MODULE
            {
                IDENTIFIER
                {
                    name = RealBattery
                }
                DATA
                {
                    ChemistryID = NiCd
                    EVAupgrade  = none // target SUBTYPE name; "none" = upgrade prohibited
                }
            }
        }
    }
}

@PART[bluedog_CentaurD_Avionics,bluedog_CentaurT_Avionics,bluedog_DCSS_Tank,bluedog_DeltaIV_DCSS_5m]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 1.5
        @amount = #$../RBbaseVolume$
        @amount *= 1.5
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.15
        amount = #$../RBbaseVolume$
        @amount *= 0.15
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = AgOx
        EVAupgrade  = none // target SUBTYPE name; "none" = upgrade prohibited
    }

    MODULE
    {
        name = ModuleB9PartSwitch
        moduleID = batterySwitch
        uiGroupName = RealBatteryInfo
        uiGroupDisplayName = #LOC_RB_PAWgroup
        switcherDescription = #LOC_RB_batterySwitcherDescription
        switcherDescriptionPlural = #LOC_RB_batterySwitcherDescriptionPlural
        baseVolume = #$../RBbaseVolume$

        SUBTYPE
        {
            name = AgOx
            title = #LOC_RB_title_AgOx
            descriptionSummary = #LOC_RB_descSum_AgOx
            descriptionDetail = #LOC_RB_descDet_AgOx
            tankType = AgOx
            defaultSubtypePriority = 6
            MODULE
            {
                IDENTIFIER
                {
                    name = RealBattery
                }
                DATA
                {
                    ChemistryID = AgOx
                    EVAupgrade  = Li_ion // target SUBTYPE name; "none" = upgrade prohibited
                }
            }
        }

        SUBTYPE
        {
            name = Li_ion
            title = #LOC_RB_title_Li_ion
            descriptionSummary = #LOC_RB_descSum_Li_ion
            descriptionDetail = #LOC_RB_descDet_Li_ion
            tankType = Li_ion
            upgradeRequired = RB_UpgradeLiIon
            defaultSubtypePriority = 9
            MODULE
            {
                IDENTIFIER
                {
                    name = RealBattery
                }
                DATA
                {
                    ChemistryID = Li_ion
                    EVAupgrade  = none // target SUBTYPE name; "none" = upgrade prohibited
                }
            }
        }
    }
}

@PART[bluedog_ATDA_Battery]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = 200

    @cost = 1200
    @mass = 1

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = 300
        @amount = 300
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = 30
        amount = 30
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = AgZn
    }
}

@PART[bluedog_LM_Lab_Battery]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = 100

    @cost = 600
    @mass = 0.5

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = 150
        @amount = 150
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = 15
        amount = 15
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = AgZn
    }
}

Localization
{
    en-us
    {
        #LOC_RB_title_HgZn = Mercury-Zinc
        #LOC_RB_descSum_HgZn = <b>C-rate:</b> 0.5C\n<b>Thermal loss:</b> 30% (T° max: 420 K)\n<b>Self-discharge:</b> 2.5%/day\n<#FF0000>Not rechargeable</color>
        #LOC_RB_descDet_HgZn = Mercury-zinc batteries deliver an exceptionally flat discharge voltage, making them a preferred choice where output stability matters more than cycle life. Widely used in early space programs before environmental concerns made them largely obsolete. Still reliable. Still mercurial.
    }
    es-es
    {
        #LOC_RB_title_HgZn = Mercurio-Zinc
        #LOC_RB_descSum_HgZn = <b>C-rate:</b> 0.5C\n<b>Pérdida térmica:</b> 30% (T° máx: 420 K)\n<b>Autodescarga:</b> 2.5%/día\n<#FF0000>No recargable</color>
        #LOC_RB_descDet_HgZn = Las baterías de mercurio-zinc ofrecen una tensión de descarga excepcionalmente estable, lo que las convierte en la opción preferida cuando la constancia de la salida importa más que la vida en ciclos. Ampliamente utilizadas en los primeros programas espaciales, antes de que las preocupaciones medioambientales las hicieran en gran parte obsoletas. Siguen siendo fiables. Siguen siendo mercuriales.
    }
    fr-fr
    {
        #LOC_RB_title_HgZn = Mercure-Zinc
        #LOC_RB_descSum_HgZn = <b>Taux de décharge :</b> 0,5C\n<b>Perte thermique :</b> 30 % (T° max : 420 K)\n<b>Autodécharge :</b> 2,5 %/jour\n<#FF0000>Non rechargeable</color>
        #LOC_RB_descDet_HgZn = Les batteries mercure-zinc offrent une tension de décharge exceptionnellement stable, ce qui en fait le choix privilégié lorsque la constance de la sortie prime sur la longévité en cycles. Largement utilisées dans les premiers programmes spatiaux, avant que les préoccupations environnementales ne les rendent largement obsolètes. Toujours fiables. Toujours mercurielles.
    }
    it-it
    {
        #LOC_RB_title_HgZn = Mercurio-zinco
        #LOC_RB_descSum_HgZn = <b>Indice di carica:</b? 0.5C\n<b>Disp. termica:</b> 30% (T° max: 420 K)\n<b>Autoscarica:</b> 2.5%/giorno\n<#FF0000>Non ricaricabile</color>
        #LOC_RB_descDet_HgZn = Le batterie al mercurio-zinco offrono una tensione di scarica straordinariamente stabile, rendendole la scelta preferita quando la costanza dell'output è più importante della durata. Ampiamente usate nei primi programmi spaziali, prima che le preoccupazioni ambientali le rendessero in gran parte obsolete. Ancora affidabili. Ancora mercuriali.
    }
    zh-cn
    {
        #LOC_RB_title_HgZn = 汞-锌
        #LOC_RB_descSum_HgZn = C 倍率：0.5C \n热损：30%（最高温度：420 K）\n自放电：2.5%/天 \n<#FF0000>不可充电</color>
        #LOC_RB_descDet_HgZn = 汞锌电池放电电压极为平稳，在输出稳定性优先于循环寿命的场合是首选。早期航天项目中广泛使用，后因环保问题逐渐淡出主流。依然可靠。依然"反复无常"。
    }
}