@PART[bluedog_Helios_Core,bluedog_IDCSP_Probe,bluedog_Biosat_Adapter,bluedog_Mariner_Bus,bluedog_OV1_1_probeCore,bluedog_OV1_10_probeCore,bluedog_Ranger_Lander_Truss,bluedog_Ranger_Block2_RoughLander,bluedog_Ranger_Battery,bluedog_Surveyor_Core,bluedog_Surveyor_AuxBattery]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 1.5
        @amount = #$../RBbaseVolume$
        @amount *= 1.5
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.15
        amount = #$../RBbaseVolume$
        @amount *= 0.15
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = AgZn
    }
}

@PART[bluedog_AIMP_Core]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.25
        @amount = #$../RBbaseVolume$
        @amount *= 0.25
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.05
        amount = #$../RBbaseVolume$
        @amount *= 0.05
    }

    MODULE
    {
        name = RealBattery
        BatteryTypeDisplayName = Ag-Cd // Same as Ni-Cd but higher C-rate
        title = #LOC_RB_title_AgCd
        descriptionSummary = #LOC_RB_descSum_AgCd
        descriptionDetail = #LOC_RB_descDet_AgCd

        HighEClevel = 0.95
        LowEClevel  = 0.90
        Crate       = 1

        CycleDurability     = 500
        SelfDischargeRate   = 0.03
        EvaRefurbishEnabled = true
        EVAminLevel         = 1
        SparePartsPerKWh    = 14

        ThermalLoss         = 0.2
        TempOptimal         = 350
        TempOverheat        = 390
        TempRunaway         = 490
        RunawayHeatFactor   = 1

        FixedOutput         = false
        BatteryStaged       = false
        KeepWarmMode        = false
        TempKeepWarmLo      = 500
        TempKeepWarmHi      = 600
        SelfRunaway         = false
        RunawayBaseChance   = 0.0
        LifeDecay           = false
        InfiniteCycles      = false

        ChargeEfficiencyCurve
        {
            key = 0.0 0.70
            key = 0.5 0.75
            key = 0.9 0.80
            key = 1.0 0.65
        }
    }
}

@PART[bluedog_Alouette_Core,bluedog_Pioneer_1,bluedog_Pioneer_4,bluedog_TACSAT_Bus,bluedog_Syncom,bluedog_Relay_Core,bluedog_Telstar_Core,bluedog_Courier_Core,bluedog_RAE_ProbeCore,bluedog_Explorer_S45,bluedog_Explorer_S46,bluedog_Explorer_7,bluedog_Explorer_8,bluedog_Explorer_11,bluedog_LunarOrbiter_Core,bluedog_Mariner10_probeCore,bluedog_Nimbus_LateControlCore,bluedog_Nimbus_EarlyControlCore,bluedog_Camera_InstrumentTorus,bluedog_Nimbus_InstrumentTorus,bluedog_OAO_ProbeCore,bluedog_OGO_Bus,bluedog_OSO_Core,bluedog_Pioneer_SNAP19,bluedog_Pioneer_Probe,bluedog_Pioneer_ExtensionBus,bluedog_Pioneer_ProbeCore,bluedog_TTS1,bluedog_Pioneer6_ServiceModule,bluedog_Pioneer6_Bus,bluedog_Pioneer5_Core,bluedog_PioneerAble_Core,bluedog_Transit4A,bluedog_Transit5_Bus,bluedog_Injun1,bluedog_LOFTI,bluedog_POPPY1,bluedog_POPPY2,bluedog_SOLRAD,bluedog_SOLRAD8,bluedog_Transit2A,bluedog_ANNA,bluedog_TIROS,bluedog_TRYP_Core,bluedog_Viking_Orbiter_Core,bluedog_voyagerMarsOrbiter_core,bluedog_voyagerMarsLander_core]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.25
        @amount = #$../RBbaseVolume$
        @amount *= 0.25
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.05
        amount = #$../RBbaseVolume$
        @amount *= 0.05
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = NiCd
    }
}

@PART[bluedog_Clementine_ISAS,bluedog_Clementine_Bus]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.015
        @amount = #$../RBbaseVolume$
        @amount *= 0.015
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.02
        amount = #$../RBbaseVolume$
        @amount *= 0.02
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = NiH2
    }
}

@PART[bluedog_Kepler_Bus]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.8
        @amount = #$../RBbaseVolume$
        @amount *= 0.8
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.2
        amount = #$../RBbaseVolume$
        @amount *= 0.2
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = Li_ion
    }
}

@PART[bluedog_solarBattery]:NEEDS[Bluedog_DB]
{
    RBbaseVolume = #$/RESOURCE[ElectricCharge]/maxAmount$
    @RBbaseVolume *= 0.3

    @RESOURCE[ElectricCharge]
    {
        @maxAmount = #$../RBbaseVolume$
        @maxAmount *= 1.5
        @amount = #$../RBbaseVolume$
        @amount *= 1.5
    }
    RESOURCE
    {
        name = StoredCharge
        maxAmount = #$../RBbaseVolume$
        @maxAmount *= 0.15
        amount = #$../RBbaseVolume$
        @amount *= 0.15
    }

    MODULE
    {
        name = RealBattery
        ChemistryID = AgZn
        EVAupgrade  = none // target SUBTYPE name; "none" = upgrade prohibited
    }

    MODULE
    {
        name = ModuleB9PartSwitch
        moduleID = batterySwitch
        uiGroupName = RealBatteryInfo
        uiGroupDisplayName = #LOC_RB_PAWgroup
        switcherDescription = #LOC_RB_batterySwitcherDescription
        switcherDescriptionPlural = #LOC_RB_batterySwitcherDescriptionPlural
        baseVolume = #$../RBbaseVolume$

        SUBTYPE
        {
            name = AgZn
            title = #LOC_RB_title_AgZn
            descriptionSummary = #LOC_RB_descSum_AgZn
            descriptionDetail = #LOC_RB_descDet_AgZn
            tankType = AgZn
            //upgradeRequired = RB_UpgradeAgZn
            defaultSubtypePriority = 6
            MODULE
            {
                IDENTIFIER
                {
                    name = RealBattery
                }
                DATA
                {
                    ChemistryID = AgZn
                    EVAupgrade  = NiCd // target SUBTYPE name; "none" = upgrade prohibited
                }
            }
        }

        SUBTYPE
        {
            name = NiCd
            title = #LOC_RB_title_NiCd
            descriptionSummary = #LOC_RB_descSum_NiCd
            descriptionDetail = #LOC_RB_descDet_NiCd
            tankType = NiCd
            upgradeRequired = RB_UpgradeNiCd
            defaultSubtypePriority = 4
            MODULE
            {
                IDENTIFIER
                {
                    name = RealBattery
                }
                DATA
                {
                    ChemistryID = NiCd
                    EVAupgrade  = Li_ion // target SUBTYPE name; "none" = upgrade prohibited
                }
            }
        }

        SUBTYPE
        {
            name = Li_ion
            title = #LOC_RB_title_Li_ion
            descriptionSummary = #LOC_RB_descSum_Li_ion
            descriptionDetail = #LOC_RB_descDet_Li_ion
            tankType = Li_ion
            upgradeRequired = RB_UpgradeLiIon
            defaultSubtypePriority = 9
            MODULE
            {
                IDENTIFIER
                {
                    name = RealBattery
                }
                DATA
                {
                    ChemistryID = Li_ion
                    EVAupgrade  = none // target SUBTYPE name; "none" = upgrade prohibited
                }
            }
        }
    }
}

@PART[bluedog_Ranger_Bus]
{
	@MODULE[ModuleB9PartSwitch]:HAS[#moduleID[realnameMeshSwitchStyle]]
	{
		@SUBTYPE[RangerB]
		{
            @RESOURCE[ElectricCharge]
            {
                @unitsPerVolume = 0.5
            }
			RESOURCE
            {
                name = StoredCharge
                unitsPerVolume = 0.05
                percentFilled = 100
            }
		}
		@SUBTYPE[MarinerB]
		{
			@RESOURCE[ElectricCharge]
            {
                @unitsPerVolume = 0.5
            }
			RESOURCE
            {
                name = StoredCharge
                unitsPerVolume = 0.05
                percentFilled = 100
            }
		}
	}
}

Localization
{
    en-us
    {
        #LOC_RB_title_AgCd = Silver-Cadmium
        #LOC_RB_descSum_AgCd = <b>C-rate:</b> 1C\n<b>Thermal loss:</b> 20% (T° max: 390 K)\n<b>Self-discharge:</b> 3%/day\n<b>Durability:</b> 500 cycles
        #LOC_RB_descDet_AgCd = Silver-cadmium batteries combine the high energy density of silver with the thermal resilience of cadmium, making them a reliable choice for demanding aerospace applications. Excellent performance across a wide temperature range, but cadmium is toxic and heavily regulated. Handle with appropriate care (and appropriate paperwork).
    }
    es-es
    {
        #LOC_RB_title_AgCd = Plata-Cadmio
        #LOC_RB_descSum_AgCd = <b>C-rate:</b> 1C\n<b>Pérdida térmica:</b> 20% (T° máx: 390 K)\n<b>Autodescarga:</b> 3%/día\n<b>Durabilidad:</b> 500 ciclos
        #LOC_RB_descDet_AgCd = Las baterías de plata-cadmio combinan la alta densidad energética de la plata con la resiliencia térmica del cadmio, siendo una opción fiable para aplicaciones aeroespaciales exigentes. Excelente rendimiento en un amplio rango de temperaturas, aunque el cadmio es tóxico y está sujeto a una regulación estricta. Manipular con la precaución adecuada (y la documentación correspondiente).
    }
    fr-fr
    {
        #LOC_RB_title_AgCd = Argent-Cadmium
        #LOC_RB_descSum_AgCd = <b>Taux de décharge :</b> 1C\n<b>Perte thermique :</b> 20 % (T° max : 390 K)\n<b>Autodécharge :</b> 3 %/jour\nDurée de vie : 500 cycles
        #LOC_RB_descDet_AgCd = Les batteries argent-cadmium associent la haute densité énergétique de l'argent à la résistance thermique du cadmium, en faisant un choix fiable pour les applications aérospatiales exigeantes. Excellentes performances sur une large plage de températures, mais le cadmium est toxique et très réglementé. À manipuler avec le soin qui s'impose (et la paperasse qui va avec).
    }
    it-it
    {
        #LOC_RB_title_AgCd = Argento-cadmio
        #LOC_RB_descSum_AgCd = <b>Indice di carica:</b? 1C\n<b>Disp. termica:</b> 20% (T° max: 390 K)\n<b>Autoscarica:</b> 3%/giorno\n<b>Vita utile:</b> 500 cicli
        #LOC_RB_descDet_AgCd = Le batterie argento-cadmio uniscono l'alta densità energetica dell'argento alla resilienza termica del cadmio, risultando affidabili nelle applicazioni aerospaziali più esigenti. Ottime prestazioni su un ampio range di temperatura, ma il cadmio è tossico e soggetto a rigida regolamentazione. Maneggiare con la dovuta cautela (e la dovuta documentazione).
    }
    zh-cn
    {
        #LOC_RB_title_AgCd = 银-镉
        #LOC_RB_descSum_AgCd = C 倍率：1C \n热损：20%（最高温度：390 K）\n自放电：3%/天 \n耐久性：500 次循环
        #LOC_RB_descDet_AgCd = 银镉电池将银的高能量密度与镉的热稳定性融为一体，是高要求航天应用中的可靠选择。宽温区性能出色，但镉属有毒物质且受严格监管。请以适当的谨慎（和适当的文件手续）妥善操作。
    }
}